#DEFINE_CONSTANTS()
#if($isMssVoiceReport)
	#set($filterColumns = ["IMSI","DATETIME_ID","TELE_SERVICE_CODE","TAC","HIER3_ID","HIER321_ID","EVNTSRC_ID"])
#else
	#set($filterColumns = ["IMSI","DATETIME_ID","TAC","HIER3_ID","HIER321_ID","EVNTSRC_ID"])
#end

select
	#REPLACE_TABLE_NAME_IN_COLUMN($rawTableAlias "DATETIME_ID"),
	#GET_TAC_MANUFACTURER_OR_PLAIN_GET_COLUMNS($type)
	#REPLACE_TABLE_NAME_IN_COLUMN($rawTableAlias "IMSI")
from
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_WITH_OPTIONAL_TAC_EXCLUSION_SPECIFY_COLUMNS($rawTables $rawTableAlias $filterColumns $useTACExclusion)
	#if($type==$ApplicationConstants.TYPE_MAN)
		,dc.DIM_E_SGEH_TAC tac
	#end
where
	#GET_TAC_MANUFACTURER_OR_PLAIN_GET_COLUMNS_WHERE($type $rawTableAlias)
	$extraWhereClause