(select          
    sum(NO_OF_SUCCESSES),
    sum(NO_OF_PAGING_ATTEMPTS),
    EVENT_ID,
	chart_times.tmp_st
from
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES($TECH_PACK_LIST.getAllSucAggregationViews() "temp_suc"),
	#GET_CHART_TIMES($starttime $endtime $interval)
where
    temp_suc.MANUFACTURER = :MANUFACTURER 
	and #GET_DATETIME_RANGE()
	and DATETIME_ID >= chart_times.tmp_st
    and DATETIME_ID < chart_times.tmp_et
		
group by
	case NO_OF_PAGING_ATTEMPTS when 0 then 0 else 1 end,
	EVENT_ID,
	chart_times.tmp_st
) as $success_table_alias
(
    $success_aggregation_columns_alias,
	EVENT_ID,
	DATETIME_ID
)
