	full outer join
	
	(select
        sum(NO_OF_ERRORS),
        sum(NO_OF_PAGING_ATTEMPTS),
		EVENT_ID,
		chart_times.tmp_st
	from
		#REPLACE_RAW_VIEW_WITH_RAW_TABLES($TECH_PACK_LIST.getAllErrAggregationViews() "temp_err"),
		#GET_CHART_TIMES($starttime $endtime $interval)
	where
		temp_err.MANUFACTURER = :MANUFACTURER 
		and #GET_DATETIME_RANGE()
		and DATETIME_ID >= chart_times.tmp_st
        and DATETIME_ID < chart_times.tmp_et
			
	group by
		case NO_OF_PAGING_ATTEMPTS when 0 then 0 else 1 end,
		EVENT_ID,
		chart_times.tmp_st

	)as $error_table_alias 
	(
        $error_aggregation_columns_alias,
		EVENT_ID,
		DATETIME_ID
    )on
	(
	#GET_JOIN("$error_table_alias" "$success_table_alias" ["DATETIME_ID","EVENT_ID"])
	)
