#DEFINE_CONSTANTS()

#SET_GROUP_TYPE($type)

#set($groupDef = $groupDefinitions.get($groupType))
#set($groupTable = $groupDef.getTableName())
#set($groupnameColumn = $groupDef.getGroupNameColumn())
#set($joinKeys = $groupDef.getGroupKeys())

#macro (LOCAL_REPLACE_RAW_VIEW_WITH_RAW_TABLES_WITH_OPTIONAL_TAC_EXCLUSION $rawtables $rawview)
	(
		#foreach ($rawtable in $rawtables)
			select
				*
			from dc.$rawtable 
			where
			#GET_DATETIME_RANGE()
			#if ($useTACExclusion)
				and #GET_TAC_EXCLUSION()
			#end
			#if($velocityCount < $rawtables.size())
					union all
			#end
		#end
	) as $rawview
#end

full outer join
(select
        chart_times.tmp_st,
        $groupnameColumn,
		#GET_COLUMNS($error_raw_columns)
        EVENT_ID,
		isnull(EVENT_SUBTYPE_ID, -1)
    from
		#LOCAL_REPLACE_RAW_VIEW_WITH_RAW_TABLES_WITH_OPTIONAL_TAC_EXCLUSION($rawLteErrTables "temp_err"),
        #GET_CHART_TIMES($starttime $endtime $interval),
        $groupTable temp_group        
    where
        temp_group.$groupnameColumn = :$ApplicationConstants.GROUP_NAME_PARAM
        and #GET_JOIN("temp_err" "temp_group" $joinKeys)
        and DATETIME_ID >= tmp_st
        and DATETIME_ID < tmp_et
    group by
        chart_times.tmp_st,
        $groupnameColumn,
		case PAGING_ATTEMPTS when 0 then 0 else 1 end,
        EVENT_ID,
		EVENT_SUBTYPE_ID
    )as err (
        DATETIME_ID,
        $groupnameColumn,
        $error_raw_columns_alias,
        EVENT_ID,
		EVENT_SUBTYPE_ID
    )
	on (
        #GET_JOIN("$error_table_alias" "$success_table_alias" ["DATETIME_ID","EVENT_ID", "EVENT_SUBTYPE_ID"])
        and #GET_JOIN("$error_table_alias" "$success_table_alias" [$groupnameColumn])
    )